# Folders
.gradle/
.idea/
.vscode/
.util/

build/
captures/
.externalNativeBuild/
.cxx/

# Files
local.properties
*.log
*.aab
*.apk
output-metadata.json
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
